@import '@styles/variables/borders';
@import '@styles/variables/spacing';
@import '@styles/variables/fonts';
@import '@styles/variables/colors';

.task-allocation-login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;

  &__card {
    max-width: 320px;
    border: $border-width-normal solid rgba(0, 0, 0, 0.2);
    border-radius: $border-radius-normal;
    padding: $space-normal;
    margin: $space-normal;
    text-align: left;
  }

  &__heading {
    font-weight: $boldest;
    font-size: $font-xl;

    &--primary {
      color: $primary-accent;
      margin-bottom: $space-l;
    }
  }

  &__logInButton.MuiButton-root {
    background-color: black;

    &:hover {
      background-color: rgba(1, 1, 1, 0.8);
    }
  }

  &__signUp {
    font-size: $font-xs;
    text-align: center;
    margin-top: $space-normal;
    color: $primary-accent;
    text-decoration: underline;
    cursor: pointer;
  }
}
