@import '@styles/variables/colors';

.task-allocation-history-page {
  &__assignee {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__avatar.MuiAvatar-circular {
    height: 24px;
    width: 24px;
    margin-right: 0.5rem;
    font-size: 1rem;
    background-color: $primary-accent;
  }
}
