.spotzer-network-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #000;
  height: 50px;
  color: white;
  justify-content: space-between;

  &__logo {
    margin: 0 1rem;
  }

  &__heading {
    color: #45caa5;
  }

  &__left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
