@import '@styles/variables/colors';

.task-allocation-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #000;
  height: 50px;
  color: white;
  justify-content: space-between;

  &__logo {
    margin: 0 1rem;
  }

  &__heading {
    font-weight: 800;
    margin: 1rem;

    &--secondary {
      color: $primary-accent;
      font-weight: 400;
      margin-left: 0.3rem;
    }
  }

  &__left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
